<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1><center>Welcome to <%= pageTitle %></center></h1>
      <!-- <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav> -->
    </header>

    <section>
      <center>
        <img src="/images/hdg_Lab.png" alt="Featured Image" />
        <!-- <h2>Featured Content</h2>
        <p><%= featuredContent %></p> -->
      </center>
    </section>

    <footer>
      <center>
        <p>
          &copy; <%= new Date().getFullYear() %> HiddenGem Tech. All rights
          reserved.
        </p>
      </center>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
